<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name='connection.driver_class'>com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/Auth</property>
        <property name="connection.username">root</property>
        <property name="connection.password">projekt123</property>
        <property name='connection.pool_size'>1</property>
        <property name='dialect'>org.hibernate.dialect.MySQLDialect</property>
        <property name='show_sql'>true</property>

        <!-- Mapping files -->
        <mapping resource='com/noodleesystem/mappings/User.hbm.xml'/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>